img {
  height: 500px;
  width: 650px;
  display: block;
  margin: 0 auto;
}

h3, h5 {
  text-align: center;
}

.well {
  background-color: snow;
}

@media screen and (max-width: 600px) {
  img {
    height: 300px;
    width: 400px;
  }
}
