<img id= "header-add" src='./assets/benadryl.jpg'>
<div class="articles">
  <div *ngFor="let article of articles | async" (click)="goToReadPage(article)" class="article-display">
    <img src="{{article.img}}">
    <h4><strong>{{article.title}}</strong></h4>
    <p>{{article.teaser}}</p>
    <h5>{{article.author}}</h5>
    <h6><strong>Views:</strong> {{article.views}}</h6>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <a class="text-muted" routerLink="admin">Admin</a>
  </div>
</footer>
